# SPDX-License-Identifier: GPL-2.0-only
config NET_DSA_AR9331
	tristate "Atheros AR9331 Ethernet switch support"
	depends on NET_DSA
	select NET_DSA_TAG_AR9331
	select REGMAP
	---help---
	  This enables support for the Atheros AR9331 build-in Ethernet
	  switch.


